CREATE TABLE `test1quest` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `question` varchar(500) DEFAULT NULL,
  `a1` int(11) unsigned DEFAULT NULL,
  `a2` int(11) unsigned DEFAULT NULL,
  `a3` int(11) unsigned DEFAULT NULL,
  `a4` int(11) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=cp1251;
